body{
    height: 100vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    width: 80%;
    height: 70%;
    display: flex;
    border: 1px solid black;
}

.displayMusic{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}
.frame{
    height: 300px;
    width: 300px;

}
.mainImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(16px 16px 20px black);

}

.musicList{
    flex: 1;
    padding: 20px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.songImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.songImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.songs{
/* border: 1px solid black; */
    padding: 20px 50px ;
}
  .song{
      display: flex;
      border-bottom: 1px  solid red;
      padding: 5px 10px;
      align-items: center;
      justify-content: space-evenly;


  }

  button{
    padding: 10px 30px;
    background-color: red;
    color: white;
    border: 0;
    /* font-size:px; */
    font-weight: 600;
    border-radius: 30px;


  }